@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.container-busca{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container-input{
    display: flex;
    width: 100%;
    flex-direction: column;
  
}
.button-consulta{
    width: 100%;
    cursor: pointer;
    height: 40px;
    background-color: rgba(100, 99, 99, 0.137);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
    border: solid 1px white;
    transition: 0.5s;
    margin-top: 20px;
}
.label{
    margin-right: 10px;
    font-size: 20px;
    
    
}
#text-ticket{
    font-size: 18px;
    font-weight: bold;
}
.input-ticket{
    height: 30px;
    width: 100%;
}
.container-geral-consulta{
    width: 350px;
    margin-top: 50px;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-consulta:hover{

    background-color: rgba(100, 99, 99, 0.425);
    }
.text{
     font-size: 20px;
    }
    .container-dados{
        margin-bottom: 10px;
    }