@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box ;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 60px;
 z-index: 1;
 transition: 0.2s;
 backdrop-filter: blur(2px);
 z-index: 999;
 padding: 0px 10px 0px 10px;

}
.menu-desktop{
  display: flex;
  list-style: none;
  margin-right: 20px;
  padding: 0;
}
.menu-mobile{
  position: absolute;
  top: 59px;
  left: -10px;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.575);
  
}
.option-menu{
  color: white;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
  
}
.option-menu-mobile{
  color: white;
}
.option-menu-mobile:not(:last-child){
  margin-bottom: 10px;
}
.icon-menu{
  margin-right: 20px;
  display: none;
  
}
.logo{
  width: 70px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}
.back-header{
  position: relative;
 width: 100%;
 height: 800px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
}
.back-header::after{
  content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.314);
 backdrop-filter: blur(2px);

 
}
.container-geral-header{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
  z-index: 1;
}
.container-img-header{
  width: 310px;
  border-radius: 10px;
  border: 2px solid #CE9600;
  padding: 10px;
  z-index: 999;

}
.container-text-header{
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.titulo,.subtitulo{
  font-family: "Aclonica" ;
  color: white;
  margin: 0;
  
}
.subtitulo{
  color: #CE9600;
  font-family: "Montserrat", "cursive";
  font-size: 30px;
  font-weight: 300;
  margin-top: 8px;
  margin-left: 20px;
  font-style: normal;
}
.paragrafo-header{
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.img-header{
  width: 100%;
  height: 100%;
}
.container-geral-curso{
  position: relative;
  width: 100%;
  height: 600px;
 background-image: linear-gradient( to bottom right,#1E1E1E,#0e0e0ee9);
 background-position: center;
 background-size: cover;


}
.container-curso{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  align-items: center;
}
.text-curso{
  color: white;
  font-family: "Montserrat";
 font-weight: 400;
 letter-spacing: 4px;
 text-align: start;
 opacity: 1;
}
.container-central-curso{
  display: flex;
  align-items: center;
  width: 900px;
}
.poster-curso{
  margin-right: 50px;
  width: 400px;
  height: 500px;
  border-radius: 6px;
}
.button-curso{
  width: 260px;
  height: 37px;
  cursor: pointer;
  background-color: #CE9600;
  background-image: linear-gradient( to right,#e8c871,#f0c44c,#CE9600);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.link{
 
  text-decoration: none;
  color: black;
  width: 260px ;
  display: block;
}
.link-header{
  text-decoration: none;
  color: white;
}
.link-footer{
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.button-curso:hover{
  
  transform: scale(1.05);
  transition: 0.5s;
}
.img-whats{
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.container-geral-cortes{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-cortes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr) );
  padding: 25px 0px 20px 0px;
  justify-items: center;
  gap: 20px;
  width: 950px;
}
.img-corte{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.corte{
  width: 300px;
  height: 320px;
}
.container-geral-precos{
  background-attachment: fixed;
}
.container-precos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  height: 900px;
}
.container-central-precos{
width: 900px;

}
.container-text-preco{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.text,.preco{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.titulo-precos{
  font-family: "Aclonica";
  color: white;
  font-weight: 500;
  font-size: 55px;
  margin: 0px 0px -17px 0px;
}
.subtitulo-precos{
  font-family: "Aclonica";
  color: #CE9600;
  font-weight: 500;
  font-size: 55px;
  margin: 0px 0px 10px 0px;
  letter-spacing: 8px;
}
.linha-preco{
  width: 150px;
  height: 2px;
  background-color:white ;
  margin-bottom: 15px;
}
.apartir{
  font-size: 20px;
}
.icon-location{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.container-geral-location{
  display: flex;
  padding: 20px;
  
  justify-content: center;
}
.container-central-location{
  max-width: 1200px;
  height: 500px;
  display: flex;
}
.lista-location{
  margin: 35px 0px 0px 0px;
  list-style: none;
  padding: 0;
}
.option-location{
  display: flex;
  align-items: center;
  
}
.option-location:not(:last-child){
  margin-bottom: 10px;
  
}
.img-location{
  width: 350px;
  height: 450px;
  border-radius: 10px;
}
.titulo-location{
  font-family: "Aclonica";
  font-size: 55px;
}
.text-location{
  font-family: "Montserrat";
  font-weight: 500;
  padding-right: 70px;
}
footer{
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}
.text-footer{
  font-size: 14px;
}
.whats-footer{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 26px;
  bottom: 25px;
  z-index: 999;
  transition: 0.5s;
}
.whats-footer:hover{
  transform:  scale(1.1);
  
}
@media screen and (max-width:1200px){
  
  .img-location{
    width: 250px;
    height: 350px;
  }
  .container-central-location{
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    height: 780px;
  }
  .img-location{
    margin-top: 40px;
    margin-right: 83px;
  }
}
@media screen and (max-width:1000px){
  .container-cortes{
    width: 100%;
  }
  .container-central-location{
    max-width: 600px;
    
    
  }
}
@media screen and (max-width:950px){
  .container-central-precos{
    width: 100%;
    padding: 20px;
  }
  .text-location{
    padding-right: 0px;
  }
  .container-precos{
    height: 700px;
  }
  .container-geral-header{
    flex-direction: column;
    align-items: center;
  }
  .subtitulo,.paragrafo-header,.titulo{
    text-align: center;
    margin-left: 0;
  }
  .text-curso{
    width: 400px;
    text-align: justify;
  }
  .text,.preco,.apartir{
    font-size: 12px !important;
  }
  .titulo-precos,.subtitulo-precos{
    font-size: 45px;
  }
  .link{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  .container-geral-curso{
    height: 800px;
  }
  .poster-curso{
    margin-right: 0;
  }
  .container-central-curso{
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width:580px){
.menu-desktop{
  display: none;
}
.icon-menu{
 
  display: block;
}
.text-footer{
  font-size: 12px;
}
.img-location{
  
  margin-right: 25px;
}
}
@media screen and (max-width:480px){
#text-preco{
  font-size: 11px !important;
  width:  250px;
}
.container-geral-header, .container-text-header{
  width: 350px;
}
.subtitulo, .titulo{
  font-size: 28px;
}
.paragrafo-header{
  font-size: 13px;
}
.container-geral-header{
  padding: 10px;
}
.poster-curso{
  width: 350px;
  height: 400px;
  
}
.text-curso{
  width: 350px;
}
.container-geral-curso{
  height: 700px;
}
#preco{
  font-size: 11px !important;
}
.titulo-precos,.subtitulo-precos,.titulo-location{
  font-size: 40px;
}
.corte{
  width: 250px;
  height: 280px;
}
.container-cortes{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}
.container-img-header{
  width: 300px;
    height: 340px;
}
.logo{
  width: 65px;
  height: 55px;
  margin-left: 0;
}
.text-footer{
  font-size: 9px;
}
.img-location{
  margin-top: 20px;
 
}
.container-central-location{
  height: 720px;
}
  }